<section class="sm-padding">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2 class="color-light-black" translate>How does it work?</h2>
        <p class="content-title mt-3" translate>
          We provide three types of learning modes: Self-paced courses, Live 1-on-classes, Live group webinars.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="how-it-works position-relative">
          <!-- <div class="video-play" style="background-image: url(assets/images/tutor/tutor-video-thumbnail.png)"></div>
          <div class="play-icon">
            <button class="js-video-button btn-transparent" (click)="ngxSmartModalService.getModal('myModal').open()">
              <i class="fa fa-play"></i>
            </button>
          </div>
          <ngx-smart-modal #myModal identifier="myModal" customClass="medium-modal">
            <iframe
              width="100%"
              height="400"
              src="https://www.youtube.com/embed/P1v1KcARj-I"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </ngx-smart-modal> -->
          <!-- <div class="video-play">
            <iframe
              width="100%"
              height="525"
              src="https://www.youtube.com/embed/ZU0gjnRU-Z4"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div> -->
          <!-- <div class="video-play" [innerHTML]="iframe"></div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="row m-0">
    <div class="col-md-6 padding-all-sm bg-color-red d-flex justify-content-center align-items-center">
      <div class="">
        <h3 class="color-white" translate>Step 1: Choose your learning mode</h3>
        <p class="sub-text max-width-500 color-white" translate>
          Choose from over 10000 courses, 1000 tutors, and hundreds of scheduled webinars at any given time. You can use
          the search box or browse according to course categories, subjects, and Tutors.
        </p>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <img src="assets/images/how-it-works/certified-teachers.png" alt="" />
    </div>
    <div class="col-md-6 p-0">
      <img src="assets/images/how-it-works/suitable-date.png" alt="" />
    </div>
    <div class="col-md-6 padding-all-sm d-flex justify-content-center align-items-center bg-vector">
      <div class="">
        <h3 class="" translate>Step 2: Make a selection</h3>
        <p class="sub-text max-width-500" translate>
          As per your preferred mode of learning, you can purchase a course, book a private session, or purchase a slot
          in an upcoming webinar. You need to register a free user account to make any purchase.
        </p>
      </div>
    </div>
    <div class="col-md-6 padding-all-sm bg-color-red d-flex justify-content-center align-items-center">
      <div class="">
        <h3 class="color-white" translate>Step 3: Confirm your purchase</h3>
        <p class="sub-text max-width-500 color-white" translate>
          Depending on your selection, make the respective payment to access your course, schedule your live tuition
          with your preferred subject expert, or confirm your seat in the upcoming webinar.
        </p>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <img src="assets/images/how-it-works/individual-lesson.png" alt="" />
    </div>
    <div class="col-md-6 p-0">
      <img src="assets/images/how-it-works/your-lesson.png" alt="" />
    </div>
    <div class="col-md-6 padding-all-sm d-flex justify-content-center align-items-center bg-vector">
      <div class="">
        <h3 class="" translate>Step 4: Start Learning</h3>
        <p class="sub-text max-width-500" translate>
          Once you make your payment, you can access your course, attend your live session with the selected tutor in
          the scheduled period, or access the group webinar once it goes live.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="sm-padding bg-color-light-gray">
  <div class="container">
    <div class="how-it-works">
      <div class="row">
        <div class="col-md-6">
          <div class="progress">
            <div
              class="progress-bar progress-primary"
              role="progressbar"
              style="width: 40%"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
            <div
              class="progress-bar progress-success"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h3 class="mt-4" translate>Lifetime Access</h3>
          <p class="sub-text" translate>
            Once you purchase a course, you get lifetime access to it on your learner dashboard. Learn at your own pace
            and time without worrying about traveling to the classrooms or being late for lectures.
          </p>
        </div>
        <div class="col-md-6">
          <img src="assets/images/how-it-works/livelearn-cloud.png" alt="" />
        </div>
      </div>
    </div>
    <div class="how-it-works mt-5">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/how-it-works/livelearn-cloud.png" alt="" />
        </div>
        <div class="col-md-6">
          <div class="progress rmt-4">
            <div
              class="progress-bar progress-primary"
              role="progressbar"
              style="width: 40%"
              aria-valuenow="15"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
            <div
              class="progress-bar progress-success"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <h3 class="mt-4" translate>Record Live Sessions</h3>
          <p class="sub-text" translate>
            We know how important it is to take notes in live classes, but we want you to focus on the learning and
            forget about notes. Notes can be made at any time, as we provide lifetime access to recorded sessions of
            every lecture or webinar you purchase.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sm-padding bg-livelearn02">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2 class="" translate>Your Advantages</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/your-expertise.svg" alt="" />
          <h4 translate>Preferred Mode of Learning</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            Learn at your own pace with options to access learning resources in both self-paced and instructor-led
            modes.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/customer-base.svg" alt="" />
          <h4 translate>Advanced Search Filters</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            Find learning materials quickly by applying advanced filters such as course categories, subjects, webinars,
            tutor, and grades.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/own-schedule.svg" alt="" />
          <h4 translate>Unlimited Access</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            Get unlimited access to all your purchased courses and recoded versions of 1-on-1 sessions and group
            webinars.
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/hourly-rate.svg" alt="" />
          <h4 translate>Expert Tutors</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            We hire subject experts with ample experience in online tutoring and subject matter to offer you the best
            learning.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/secure-payment.svg" alt="" />
          <h4 translate>For Everyone</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            Learning for everyone – be junior school student, senior, undergraduate, or looking for job-oriented skill
            training.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-icon text-center">
          <img src="assets/images/how-it-works/advantages/no-more-constraints.svg" alt="" />
          <h4 translate>Affordable Options</h4>
          <div class="border-solid"></div>
          <p class="sub-content" translate>
            You need not worry about the cost. We offer flexible learning resources, courses, and live classes that
            cover all levels.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="md-padding bg-livelearn">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2 class="color-white" translate>Start Learning Today</h2>
        <p class="content-title mt-3 color-white" translate>
          Register as a learner today to get access to tons of courses, lectures, tutors, and webinars. Transform your
          life through continuous learning at your own comfort.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="sm-padding">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2 class="" translate>Join My Tutoring World Today</h2>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-md-6">
        <ul class="p-0 unorder-list-style">
          <li translate>Register your student account.</li>
          <li translate>Browse for courses, private lectures, and webinars.</li>
          <li translate>Get access to high-quality learning materials from verified experts.</li>
          <li translate>Freedom to choose your preferred learning modes and resources.</li>
          <li translate>Use the student dashboard to manage your courses and learning progress.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="p-0 unorder-list-style">
          <li translate>Communicate with tutors via DMs for guidance and clearing all your doubts.</li>
          <li translate>Collaborate with other students and students on the platform on the discussion board.</li>
          <li translate>Lifetime access to courses, and recorded sessions of both 1-on-1 and group sessions.</li>
          <li>
            <span translate="">Never stop learning with My Tutoring World by your side.</span>&nbsp;
            <a class="color-light-red ml-1" [routerLink]="['/auth/sign-up']" translate>Register Here</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="container pb-100">
  <div class="how-it-works">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 translate>Start Learning with My Tutoring World Today!</h2>
        <a class="btn btn-default" [routerLink]="['/tutors']" translate>Explore Now</a>
        <p class="sub-text text-secondary mt-3" translate>Browse for courses, look for tutors, and attend webinars</p>
      </div>
    </div>
  </div>
</section>
