<div class="banner-tour-list bg-cover" style="background: url(/assets/images/ceernopro-background.jpeg)">
  <div class="txt-banner">
    <div class="container text-center">
      <h2 translate>Qualité supérieure à des prix équitables</h2>
      <p translate>Live learn est le leader du soutien scolaire online en temps réel.</p>
    </div>
  </div>
</div>
<div class="content-view content-view-tour-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-pricing" translate>
          Démarrer votre cours particulier online, tête-à-tête avec un Prof qualifié de votre choix
        </h2>
      </div>
      <div class="col-md-6">
        <div class="proven">
          <div class="proven-header">
            <!-- <img src="/assets/images/proven-logo.png" alt=""> -->
            <h3>
              <i class="fa fa-check" aria-hidden="true"></i> <span translate>Qualité&nbsp</span>;
              <span translate>prouvée</span>
            </h3>
            <h4 class="title-reviews" translate>nos retours de clients</h4>
          </div>
          <div class="proven-body">
            <div class="body body-1 col-md-4">
              <p class="text-center" translate>4.86 out of 5</p>
              <div class="star-rating text-center">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <h4 class="text-center" translate>TRES BIEN</h4>
              <p class="text-center" translate>108 reviews</p>
            </div>
            <div class="body body-2 col-md-4">
              <img src="/assets/images/rcm.png" alt="" />
              <h4 class="text-center">100%</h4>
              <p class="text-center" translate>recommendations</p>
            </div>
            <div class="body body-3 col-md-4">
              <div class="check">
                <div class="check-1">
                  <div class="icon-check-1">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </div>
                  <div class="title-rate">
                    <p translate>Service client</p>
                    <h4 class="text-center" translate>TRÈS BIEN (4.87)</h4>
                  </div>
                </div>
                <div class="check-2">
                  <div class="icon-check-2">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </div>
                  <div class="title-rate">
                    <p translate>Performance / Prix</p>
                    <h4 class="text-center" translate>TRÈS BIEN (4,54)</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="guaranteed">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p translate>Pas de contrats ni de frais cachés</p>
        </div>
        <div class="guaranteed">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p translate>Choisir ses rendez-vous de cours dans le calendrier en ligne de tous les Profs</p>
        </div>
        <!-- <div class="guaranteed">
          <i class="fa fa-check" aria-hidden="true"></i>
          <p>Lesson credits valid for 2 years for all subjects</p>
        </div> -->
        <div class="guaranteed">
          <i class="fa fa-smile-o" aria-hidden="true"></i>
          <p translate>Garantie de satisfaction, sinon remboursement du premier cours</p>
        </div>
      </div>
      <div class="col-md-3" style="margin: auto">
        <div class="pricing-item">
          <div class="pricing-title" translate>1 leçon</div>
          <div class="pricing-value" translate>
            <span class="from-text" translate>A partir de</span><br />
            USD 4500
            <span class="undertext" translate>chaque 60 minutes</span>
          </div>
          <ul class="pricing-features">
            <!-- <li>Discount: <span class="keywords">No</span></li> -->
            <!-- <li>Satisfaction Guarantee with Termination Option *: <span class="keywords">No</span></li> -->
            <!-- <li>Free graphics tablet: <span class="keywords">No</span></li> -->
            <li translate>Garantie de Satisfaction</li>
          </ul>
          <div class="button">
            <a [routerLink]="['/tutors']" routerLinkActive="router-link-active" translate>Choisir votre Prof</a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="pricing-item pricing-featured-1">
          <div class='selected'>5%</div>
          <div class="pricing-title">
            20 lessons
          </div>
          <div class="pricing-value">USD190.<span class="smallText">70</span>
            <span class="undertext">every 45 minutes</span>
          </div>
          <ul class="pricing-features">
            <li>Discount: <span class="keywords">5%</span></li>
            <li>Satisfaction Guarantee with Termination Option *: <span class="keywords">No</span></li>
            <li>Free graphics tablet: <span class="keywords">No</span></li>
          </ul>
          <div class="button">
            <a [routerLink]="['/tutors']" routerLinkActive="router-link-active">Find tutors</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pricing-item pricing-featured-2">
          <div class='selected'>10%</div>
          <div class="pricing-title">
            50 lessons
          </div>
          <div class="pricing-value">USD175.<span class="smallText">80</span>
            <span class="undertext">every 45 minutes</span>
          </div>
          <ul class="pricing-features">
            <li>Discount: <span class="keywords">10%</span></li>
            <li>Satisfaction Guarantee with Termination Option *: <span class="keywords">Yes</span></li>
            <li>Free graphics tablet: <span class="keywords">Yes</span><br>
              Loaner for 8 months
            </li>
          </ul>
          <div class="button">
            <a [routerLink]="['/tutors']" routerLinkActive="router-link-active">Find tutors</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pricing-item pricing-featured">
          <div class='selected'>15%</div>
          <div class="pricing-title">
            100 time lessons
          </div>
          <div class="pricing-value">USD170.<span class="smallText">90</span>
            <span class="undertext">every 45 minutes</span>
          </div>
          <ul class="pricing-features">
            <li>Discount: <span class="keywords">15%</span></li>
            <li>Satisfaction Guarantee with Termination Option *: <span class="keywords">Yes</span></li>
            <li>Free graphics tablet: <span class="keywords">Yes</span><br>
              Loaner for 16 months
            </li>
          </ul>
          <div class="button">
            <a [routerLink]="['/tutors']" routerLinkActive="router-link-active">Find tutors</a>
          </div>
        </div>
      </div> -->
      <div class="col-md-12 text-center" translate>
        Paiement en ligne, direct et sécurisé
        <img class="img-payment" src="/assets/images/step-3.png" alt="" />
      </div>
    </div>
  </div>
</div>
