<div class="datepicker date input-group p-0 shadow-sm position-relative align-center" style="border-radius: 0.3em">
  <!-- <div class="input-group rmb-4 rounded-50"> -->
  <input class="form-control" value="{{showDates}}" *ngIf="showDates" readonly (mousedown)="toggle()" />
  <input
    style="background-color: white; border-top-right-radius: 0.3em; border-bottom-right-radius: 0.3em"
    class="form-control datetimepicker-input"
    placeholder="{{'Select date' |  translate}}"
    *ngIf="!showDates"
    readonly
    (mousedown)="toggle()"
  />

  <!-- </div> -->

  <!-- {{dateRange?.from}} - {{dateRange?.to}} -->

  <div class="calendar-popup" [class.active]="isShow" *ngIf="isShow">
    <ngb-datepicker
      #dp
      (select)="onDateSelection($event)"
      [displayMonths]="2"
      [dayTemplate]="t"
      [outsideDays]="outsideDays"
    >
    </ngb-datepicker>
    <ng-template #t let-date="date" let-focused="focused">
      <span
        class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null"
        [class.outSideDate]="outsideDays"
      >
        {{ date.day }}
      </span>
    </ng-template>
  </div>
</div>
