<div class="modal-header">
  <h2 class="modal-title" translate></h2>

  <button type="button" (click)="activeModal.dismiss('Cross click')" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="type=='pdf' && loaded">
    <ngx-extended-pdf-viewer [src]="value" height="80vh" [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
  </div>
  <div *ngIf="type == 'video'">
    <video style="width: 100%" controls class="img-fluid mb-2" [src]="value"></video>
  </div>
  <div *ngIf="type == 'audio'">
    <audio controls class="img-fluid mb-2" [src]="value"></audio>
  </div>
</div>
