<div class="mesgs">
  <h4 *ngIf="receiver"><span translate>Chat with</span> {{receiver?.name}}</h4>
  <div class="msg_history" #commentEl [scrollTop]="scrolltop">
    <div *ngFor="let item of items" #item>
      <div class="incoming_msg" *ngIf="item.senderId !== currentUser._id">
        <div class="incoming_msg_img">
          <img [src]="item.sender?.avatarUrl" alt="sunil" />
        </div>
        <div class="received_msg">
          <div class="received_withd_msg">
            <p>{{item.text}}</p>
            <span class="time_date"> {{item.createdAt |dstFormat | date:'short'}}</span>
          </div>
        </div>
      </div>
      <div class="outgoing_msg" *ngIf="item.senderId === currentUser._id">
        <div class="sent_msg">
          <p>{{item.text}}</p>
          <span class="time_date"> {{item.createdAt |dstFormat | date:'short'}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="type_msg">
    <div class="input_msg_write">
      <input
        type="text"
        class="write_msg"
        placeholder="{{'Type a message' | translate}}"
        [(ngModel)]="newText"
        name="newmessage"
        (keypress)="enterToSend($event)"
      />
      <button class="msg_send_btn" type="button" (click)="send()"><i class="far fa-paper-plane"></i></button>
    </div>
  </div>
</div>
