<section class="sm-padding">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <h2 class="color-light-black" translate>Our Approved Teachers</h2>
        <p class="sub-title mt-2" translate>This is list tutor</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 d-flex justify-content-between rd-block" style="align-items: flex-end">
        <div class="form-group mr-3 mt-n2"></div>

        <div class="form-group mr-3 mt-n2">
          <label class="font-weight-bold font-sm" translate>Grades</label>
          <grade-tutor [grades]="grades" (afterChange)="gradeChange($event)"></grade-tutor>
        </div>
        <div class="form-group mr-3 rmr-0">
          <label class="font-weight-bold font-sm" translate>Filter By Categories</label>
          <select class="custom-select" [(ngModel)]="searchFields.categoryIds" (change)="selectCategory()">
            <option selected translate value="">None</option>
            <option *ngFor="let cate of categories" value="{{cate._id}}">{{cate.name}}</option>
          </select>
        </div>
        <div class="form-group mr-3 rmr-0">
          <label class="font-weight-bold font-sm" translate>Filter By Subjects</label>
          <select class="custom-select" [(ngModel)]="searchFields.subjectIds" (change)="selectSubject()">
            <option selected translate value="">None</option>
            <option *ngFor="let sub of subjects" value="{{sub._id}}">{{sub.name}}</option>
          </select>
        </div>
        <div class="form-group mr-3 rmr-0">
          <label class="font-weight-bold font-sm" translate>Filter By Topics</label>
          <select class="custom-select" [(ngModel)]="searchFields.topicIds" (change)="query()">
            <option selected translate value="">None</option>
            <option *ngFor="let topic of topics" value="{{topic._id}}">{{topic.name}}</option>
          </select>
        </div>
        <div class="form-group mr-3 mt-n2">
          <label class="font-weight-bold font-sm" translate>Availability</label>
          <date-range (dateChange)="dateChangeEvent($event)"></date-range>
        </div>

        <div class="form-group mr-3 rmr-0">
          <label class="font-weight-bold font-sm" translate>Filter By Gender</label>
          <select class="custom-select" [(ngModel)]="searchFields.gender" (change)="selectGender()">
            <option selected translate value="">All tutors</option>
            <option selected translate value="male">Male</option>
            <option selected translate value="female">Female</option>
            
          </select>
        </div>
        
        <!-- <div class="form-group mr-3 mt-n2">
          <label class="font-weight-bold font-md" translate>Filter By</label>
          <select class="custom-select" [(ngModel)]="searchFields.countryCode" (change)="countryChange()">
            <option selected translate value="">Country</option>
            <option *ngFor="let item of countries" value="{{item.code}}">{{item.name}}</option>
          </select>
        </div> -->
        <!-- <div class="cta-input rm-0">
          <div class="input-group" style="margin-top: 1.825em">
            <input
              type="text"
              class="form-control shadow-sm"
              placeholder="{{'Enter Zip Code'|translate}}"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
              [(ngModel)]="searchFields.zipCode"
            />
            <div class="input-group-append">
              <span class="input-group-text shadow-sm" (click)="query()" translate>Find Teacher</span>
            </div>
          </div>
        </div> -->
        <div class="form-group mt-2 more-filer">
          <button class="btn btn-blue btn-show-more" (click)="showMore()">
            <i class="fas fa-filter mr-2"></i> <span translate>More</span>
          </button>
          <div *ngIf="showMoreFilter" class="filter">
            <div class="form-group mt-2">
              <label class="font-weight-bold font-sm" translate>Countries</label>
              <select class="custom-select" [(ngModel)]="searchFields.countryCode">
                <option selected translate value="">Country</option>
                <option *ngFor="let item of countries" value="{{item.code}}">{{item.name}}</option>
              </select>
            </div>
            <div class="cta-input rm-0">
              <div class="input-group mt-2">
                <input
                  type="text"
                  class="form-control shadow-sm"
                  placeholder="{{'Enter Zip Code'|translate}}"
                  aria-label="Recipient's username"
                  aria-describedby="basic-addon2"
                  [(ngModel)]="searchFields.zipCode"
                />
              </div>
            </div>
            <button class="btn btn-blue mt-2" (click)="apply()"><span translate>Apply</span></button>
          </div>
        </div>
        <div class="form-group mr-3 mt-n2"></div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      <div class="col-md-12" *ngIf="loading">
        <p>
          <strong><span translate>Loading</span>...</strong>
        </p>
      </div>
      <div class="col-md-12" *ngIf="!loading && !tutors.length">
        <p><strong translate>No results</strong></p>
      </div>
      <tutor-card class="col mb-4" *ngFor="let item of tutors" [tutor]="item"></tutor-card>
    </div>
    <div class="row mt-5" *ngIf="total>pageSize">
      <div class="col-md-12 text-center">
        <ngb-pagination
          [collectionSize]="total"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="pageChange()"
          class="card-pagination pagination"
          *ngIf="total>0"
        >
        </ngb-pagination>
      </div>
    </div>
  </div>
</section>
