<div class="sm-padding data-table">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="table_id_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <form class="form-inline">
                <div class="dataTables_length" id="table_id_length">
                  <label>
                    <span translate>Show</span>
                    <select
                      name="table_id_length"
                      aria-controls="table_id"
                      class="custom-select custom-select-sm form-control form-control-sm"
                      [(ngModel)]="pageSize"
                      (change)="query()"
                    >
                      <option value="10" selected>10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    <span translate>entries</span>
                  </label>
                </div>
              </form>
            </div>
            <div class="col-sm-12 col-md-3">
              <form id="table_id_filter" class="dataTables_filter form-inline float-right">
                <label>
                  <input
                    [hidden]="true"
                    type="search"
                    class="form-control form-control-sm"
                    placeholder=""
                    aria-controls="table_id"
                    (keyup)="doSearch($event)"
                  />
                  <select
                    class="form-control form-control-sm"
                    [(ngModel)]="searchType"
                    (change)="query()"
                    [ngModelOptions]="{standalone: true}"
                  >
                    <option value="">-- <span translate>All Accounts</span> --</option>
                    <option value="bank-account" translate>Bank Account</option>
                    <option value="paypal" translate>Paypal</option>
                  </select>
                </label>
              </form>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="dataTables_length float-right" id="table_id_length">
                <a class="btn btn-default" [routerLink]="['/users/payout/account/create']"
                  ><i class="fa fa-plus mr-2 font-sm"></i><span translate>Create Account</span></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12">
            <table
              id="table_id"
              class="table table-horizontal table-responsive dataTable no-footer"
              role="grid"
              aria-describedby="table_id_info"
            >
              <thead>
                <tr>
                  <th>
                    <span (click)="sortBy('accountHolderName', 'desc')" translate>Recipient's Name</span>
                    <app-sort
                      [sortOption]="sortOption"
                      [sortBy]="'accountHolderName'"
                      (onSort)="onSort($event)"
                    ></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('type', 'desc')" translate>Type</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'type'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('paypalAccount', 'desc')" translate>Paypal Account</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'paypalAccount'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('accountNumber', 'desc')" translate>Account Number</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'accountNumber'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('bankName', 'desc')" translate>Bank Name</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'bankName'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('bankAddress', 'desc')" translate>Bank Address</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'bankAddress'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('iban', 'desc')" translate>IBA Number</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'iban'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('swiftCode', 'desc')" translate>Swift Code</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'swiftCode'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('sortCode', 'desc')" translate>UKB Code</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'sortCode'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('routingNumber', 'desc')" translate>ABA Number</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'routingNumber'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('ifscCode', 'desc')" translate>IFSC Code</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'ifscCode'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('routingCode', 'desc')" translate>Other Code</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'routingCode'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span (click)="sortBy('createdAt', 'desc')" translate>Created At</span>
                    <app-sort [sortOption]="sortOption" [sortBy]="'createdAt'" (onSort)="onSort($event)"></app-sort>
                  </th>
                  <th>
                    <span translate>Action</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td translate colspan="9" *ngIf="!accounts?.length && !loading" translate>
                    There is no payment requests.
                  </td>
                </tr>
                <tr *ngIf="loading">
                  <td translate colspan="9" translate><span translate>Loading</span>...</td>
                </tr>
                <tr *ngFor="let item of accounts, let i = index">
                  <td>{{item?.accountHolderName}}</td>
                  <td>
                    <span *ngIf="item.type === 'paypal'" class="label label-light-primary" translate>Paypal</span>
                    <span *ngIf="item.type === 'bank-account'" class="label label-light-warning" translate
                      >Bank account</span
                    >
                  </td>
                  <td>{{item?.paypalAccount}}</td>
                  <td>{{item?.accountNumber}}</td>
                  <td>{{item?.bankName}}</td>
                  <td>{{item?.bankAddress}}</td>
                  <td>{{item?.iban}}</td>
                  <td>{{item?.swiftCode}}</td>
                  <td>{{item?.sortCode}}</td>
                  <td>{{item?.routingNumber}}</td>
                  <td>{{item?.ifscCode}}</td>
                  <td>{{item?.routingCode}}</td>
                  <td>{{item.createdAt |dstFormat | date:'short'}}</td>
                  <td>
                    <a
                      class="btn btn-light-default btn-hvr-primary btn-sm btn-icon-padding"
                      [routerLink]="['update', item._id ]"
                    >
                      <i class="fa fa-edit"></i>
                    </a>
                    <a
                      class="btn btn-light-danger btn-hvr-primary btn-sm btn-icon-padding"
                      (click)="remove(item?._id, i)"
                    >
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="dataTables_paginate paging_simple_numbers" id="table_id_paginate">
              <ngb-pagination
                [collectionSize]="total"
                [(page)]="page"
                [pageSize]="pageSize"
                [maxSize]="5"
                (pageChange)="pageChange()"
                class="float-right"
              >
                <ng-template ngbPaginationPrevious translate>Previous</ng-template>
                <ng-template ngbPaginationNext translate>Next</ng-template>
                <!-- <ng-template ngbPaginationNumber let-page>{{ currentPage }}</ng-template> -->
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
