<payout-menu></payout-menu>
<div class="card">
  <div class="card-header">
    <h3 translate>Update account</h3>
  </div>
  <div class="card-body">
    <form (submit)="submit(frm)" #frm="ngForm" *ngIf="account">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label translate>Type</label>
            <select [(ngModel)]="account.type" class="form-control" name="accountType" #accountType="ngModel" required>
              <option value="bank-account" translate>Bank Account</option>
              <option value="paypal" translate>Paypal</option>
            </select>
            <div *ngIf="accountType.errors && (accountType.dirty || accountType.touched || isSubmitted)">
              <p [hidden]="!accountType.errors.required" class="required-text" translate>Please select account type!</p>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="account.type === 'paypal'">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span translate>Paypal Account</span> (*)</label>
                <input
                  type="text"
                  name="paypalAccount"
                  #paypalAccount="ngModel"
                  class="form-control"
                  required
                  placeholder="{{'Enter paypal account' | translate}}"
                  [(ngModel)]="account.paypalAccount"
                />
                <div *ngIf="paypalAccount.errors && (paypalAccount.dirty || paypalAccount.touched || isSubmitted)">
                  <p [hidden]="!paypalAccount.errors.required" class="required-text" translate>
                    Please enter paypal account!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="account.type === 'bank-account'">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label><span translate>Recipient's name</span> (*)</label>
                <input
                  type="text"
                  name="accountHolderName"
                  #accountHolderName="ngModel"
                  class="form-control"
                  placeholder="{{'Enter recipient name' | translate}}"
                  [(ngModel)]="account.accountHolderName"
                  required
                />
                <div
                  *ngIf="accountHolderName.errors && (accountHolderName.dirty || accountHolderName.touched || isSubmitted)"
                >
                  <p [hidden]="!accountHolderName.errors.required" class="required-text" translate>
                    Please enter recipient's name!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span translate>Account Number</span> (*)</label>
                <input
                  type="text"
                  name="accountNumber"
                  #accountNumber="ngModel"
                  class="form-control"
                  placeholder="Enter account number"
                  [(ngModel)]="account.accountNumber"
                  required
                />
                <div *ngIf="accountNumber.errors && (accountNumber.dirty || accountNumber.touched || isSubmitted)">
                  <p [hidden]="!accountNumber.errors.required" class="required-text" translate>
                    Please enter account number!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span translate>Bank Name</span> (*)</label>
                <input
                  type="text"
                  name="bankName"
                  #bankName="ngModel"
                  class="form-control"
                  placeholder="Enter bank name"
                  [(ngModel)]="account.bankName"
                  required
                />
                <div *ngIf="bankName.errors && (bankName.dirty || bankName.touched || isSubmitted)">
                  <p [hidden]="!bankName.errors.required" class="required-text" translate>Please enter bank name!</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label><span translate>Bank Address</span> (*)</label>
                <input
                  type="text"
                  name="bankAddress"
                  #bankAddress="ngModel"
                  class="form-control"
                  placeholder="Enter bank address"
                  [(ngModel)]="account.bankAddress"
                  required
                />
                <div *ngIf="bankAddress.errors && (bankAddress.dirty || bankAddress.touched || isSubmitted)">
                  <p [hidden]="!bankAddress.errors.required" class="required-text" translate>
                    Please enter bank address!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label translate>International Bank Account Number</label>
                <input
                  type="text"
                  name="iban"
                  #iban="ngModel"
                  class="form-control"
                  placeholder="Enter number"
                  [(ngModel)]="account.iban"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label translate>Worldwide Interbank Financial Telecommunication (8 or 11 characters)</label>
                <input
                  type="text"
                  name="swiftCode"
                  #swiftCode="ngModel"
                  [minlength]="8"
                  [maxlength]="11"
                  class="form-control"
                  placeholder="Enter code"
                  [(ngModel)]="account.swiftCode"
                />
                <div *ngIf="routingNumber.errors && (routingNumber.dirty || routingNumber.touched || isSubmitted)">
                  <p [hidden]="!routingNumber.errors.minlength" class="error" translate>
                    SWIFT Code must be 8 or 11 characters
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label translate>UK Bank Code (6 characters)</label>
                <input
                  type="text"
                  name="sortCode"
                  #sortCode="ngModel"
                  [minlength]="6"
                  [maxlength]="6"
                  class="form-control"
                  placeholder="Enter code"
                  [(ngModel)]="account.sortCode"
                />
                <div *ngIf="sortCode.errors && (sortCode.dirty || sortCode.touched || isSubmitted)">
                  <p [hidden]="!sortCode.errors.minlength" class="error" translate>UK Bank Code must be 6 characters</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label translate>American Bankers Association Number</label>
                <input
                  type="text"
                  name="routingNumber"
                  #routingNumber="ngModel"
                  [minlength]="9"
                  [maxlength]="9"
                  class="form-control"
                  placeholder="Enter number"
                  [(ngModel)]="account.routingNumber"
                />
                <div *ngIf="routingNumber.errors && (routingNumber.dirty || routingNumber.touched || isSubmitted)">
                  <p [hidden]="!routingNumber.errors.minlength" class="error" translate>
                    American Bankers Association Number must be 9 characters
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label translate>Indian Financial System Code</label>
                <input
                  type="text"
                  name="ifscCode"
                  #ifscCode="ngModel"
                  [minlength]="11"
                  [maxlength]="11"
                  class="form-control"
                  placeholder="Enter code"
                  [(ngModel)]="account.ifscCode"
                />
                <div *ngIf="ifscCode.errors && (ifscCode.dirty || ifscCode.touched || isSubmitted)">
                  <p [hidden]="!ifscCode.errors.minlength" class="error" translate>
                    Indian Financial System Code must be 11 characters
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label translate>Any other local Bank Code</label>
                <input
                  type="text"
                  name="routingCode"
                  #routingCode="ngModel"
                  class="form-control"
                  placeholder="Enter code"
                  [(ngModel)]="account.routingCode"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <hr />
            <button type="submit" class="btn btn-primary btn-pink" translate>Submit</button>
            &nbsp;
            <a class="btn btn-warning" [routerLink]="'/payout/account'" translate>Cancel</a>&nbsp;
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
